---

import type { About } from "../types/about";

interface Props {
    about: About;
}

const { about } = Astro.props as Props;

---

<div class="py-24 w-full border-b border-accent/20">
    <div class="max-w-content w-full h-full mx-auto">
        <div id="project" class="text-sm">
            <p class="font-jetbrains text-accent tracking-widest">02 / TENTANG</p>
        </div>
        <span class="mt-4 block h-px w-full bg-accent/20"></span>
        <div class="content grid grid-cols-3 mt-4 gap-5">
            <div class="pfp grid col-span-1 w-full h-">
                <img class="w-28 aspect-4/5 object-cover rounded-lg" src="..." alt="..." >
            </div>
            <div class="desc col-span-2">
                <h1 class="text-4xl font-grotesk">{about.title}</h1>
                <p class="text-muted font-mono mt-4">{about.body}</p>
                <div class="flex gap-3 mt-4">
                    {about.techstack.map((tech) => (
                        <span class="font-jetbrains border border-accent/20 text-accent text-xs rounded-full py-1 px-4">{tech}</span>
                    ))}
                </div>
            </div>
        </div>

    </div>
</div>